.b-plg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
}

.b-plg__links {
  display: grid;
  grid-gap: 24px;
  grid-auto-flow: row;
}

.b-plg__link {
  height: 75px;
  width: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.b-plg__link-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f7f2e8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.b-plg__link-body {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
